{
  "username": "root", 
  "v2ray_new_ver": "", 
  "subscribe_url": "", 
  "update_log": "failure", 
  "v2ray_current_ver": "v4.23.1", 
  "config_source": "config.list", 
  "subscribe_code": "", 
  "auto_update_v2ray": "stop", 
  "routing": "whitelist", 
  "subscribe_log": "failure", 
  "use_ssl": "off", 
  "password": "raspberry99", 
  "port": 80, 
  "auto_update_subscribe": "stop"
}
